[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-jekyll"]
	path = vim/bundle/vim-jekyll
	url = git@github.com:jcderr/vim-jekyll.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "tmux-scroll-copy-mode"]
	path = tmux-scroll-copy-mode
	url = https://github.com/nhdaly/tmux-scroll-copy-mode
[submodule "solarized"]
	path = solarized
	url = git@github.com:jcderr/solarized.git
